<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
    <h1>My First Header</h1>
    <h2>My Second Header</h2>
    <h2>My Third Header</h2>
<p>I am the best War zone Rebirth player in The Smith School of Business.</p>
    <p>I <em>emphasize</em> this again, I am so <strong>good</strong>.</p>
<p> Best class setups!</p>
<ol>
    <li>RPK with Akimbo X13s.</li>
    <li>RPK with L Sub</li>
    <li>ISO Hemlock with L Sub</li>
</ol>
<!-- These are cool class setups. -->
<p>Different Maps in No Specific Order.</p>
<ul>
    <li>Al Fortress</li>
    <li>Shipment</li>
    <li>Dome</li>
</ul>
<!-- These are cool maps. -->
<table>
    <tr>
        <th>BMGT220</th>
        <th>Summer 2020</th>
    </tr>
    <tr>
        <th>BMGT221</th>
        <th>Fall 2020</th>
    </tr>
    <tr>
        <th>BMGT230</th>
        <th>Spring 2020</th>
    </tr>
</table>
<p>Reference to hello.html</p>
<p>A link to <a> href="https://hello.html/">Hello HTML</a>.</p>

<p>My favorite websites.</p>

    <p>A link to <a> href="https://youtube.com/">Youtube</a>.</p>
    <p>A link to <a> href="https://twitch.com/" target="_blank">Twitch</a>.</p>
<p>Smith Logo Below!</p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
<!-- This is a cool picture. -->
</body>
</html>